<div class="container container-fluid">
    <div class="form-group m-3">
        <label for="">Placa:</label>
        <input type="text" class="form-control" [(ngModel)] = "placa">
    </div>
    <div class="form-group m-3">
        <label for="">Marca:</label>
        <input type="text" class="form-control" [(ngModel)] = "marca">
    </div>
    <div class="form-group m-3">
        <label for="">Modelo:</label>
        <input type="text" class="form-control" [(ngModel)] = "modelo">
    </div>
    <div class="form-group m-3">
        <label for="">Año:</label>
        <input type="number" class="form-control" [(ngModel)] = "anio">
    </div>
    <div class="container">
        <app-calcular-impuesto
        [placa] = "placa"
        [anio]="anio"
        (total)="calculo($event)"
        ></app-calcular-impuesto>
        <div class="container">
            <div class="row">
                <p>Placa: {{placaNew}}</p>
                <p>Año: {{anioNew}}</p>
                <p>Valor a pagar: {{valorAPagar}}</p>
            </div>
            
        </div>
            
        
    </div>
</div>
